html{
    scroll-behavior: smooth;
}

body{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.navbar{
    background-color: #232626;
    color: whitesmoke;
    display: flex;
    flex-direction: column;
    font-size: 1.5rem;
    margin-bottom: 1rem;
    list-style-type: none;
}

.navbar-links li{
    list-style: none;
    display: block;
    padding: 0.5em 0;
    font-size: 1.5rem;
    padding: 1rem 1.25rem;
    text-decoration: none;
    letter-spacing: 2px;
    display: inline-block;
    list-style-type: none;
}

.navbar-links a{
    color: whitesmoke;
    background-attachment: 232626;
    list-style-type: none;
}
